/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .navbar {
    position: fixed;
    background-color: #D4E980;
  }

  .search-area {
    padding-top: 20px;
  }
  .search-form {
    align-items: center;
    margin-left: 160px;
  }
  
  

.body-container {
    padding-top: 10px;
}


.gravatar {
    float: left;
    margin-right: 20px;
  }
  
.gravatar_edit {
    margin-top: 15px;
  }

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
   
  }

  .homepagecards {
    margin-top: 60px;
    align-items: center;
    margin-left: 120px;
  }

  .center-button {
    border: 1px solid #bbb;
    margin-left: 600px;
    align-items: center;
    background-color: #D4E980 !important;
    border: 1px solid #D4E980 !important;
  }


  .sub1-button {
    border: 1px solid #bbb;
    
    align-items: center;
    background-color:#FFC300!important;
    border: 1px solid #FFC300!important;
  }

  .sub2-button {
    border: 1px solid #bbb;
    
    align-items: center;
    background-color:#FF5733!important;
    border: 1px solid #FF5733!important;
  }


  .sub3-button {
    border: 1px solid #bbb;
    
    align-items: center;
    background-color:#C70039!important;
    border: 1px solid #C70039!important;
  }

  
  


  