@import "bootstrap-sprockets";
@import "bootstrap";

.gravatar {
    float: left;
    margin-right: 20px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
   
  }
  
/* either @import your-file-containing-box-sizing-mixin; or: */

input {
    height: auto !important;
}


.title-area {

  padding-top: 50px;
}


